/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  //! ✅ 폰트 지정
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  // font-family: "Merriweather Sans", "Noto Sans KR", sans-serif;
  // font-weight: 300;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
  width: calc(100% - 10rem); // 화면이 좁을 때 좌우 5rem씩 합쳐서 10rem 여백 확보
  padding-left: 0; // padding 방식 등 제거
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 576px) {
    width: calc(100% - 6rem); // 모바일에서는 좌우 3rem씩 합쳐서 6rem 여백 (조금 더 넓게)
  }
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// 모바일 뷰에서 프로필 이미지 축소
@media (max-width: 576px) {
  .profile img {
    width: 38%; // 화면 폭 대비 비율
    margin: 0 auto; // 가운데 정렬
    display: block;
  }
}


// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.